.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-container>.spinner {
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    border-top-color: var(--color-primary);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}